<p>template-driven-form works!</p>
<form novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-2">
      <label for="name">Nome</label>
      <input type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Inserisci il tuo nome">
    </div>
    <div class="col-md-4 mb-2">
      <label for="mail">E-mail</label>
      <input type="email"
        class="form-control"
        id="mail"
        name="mail"
        placeholder="Inserisci la tua e-mail">
    </div>
    <div class="col-md-4 mb-2">
      <label for="dayOfTheWeek">Giorno della settimana</label>
      <select name="dayOfTheWeek" id="dayOfTheWeek" class="form-control">
        <option value="0">Luned&igrave;</option>
        <option value="1">Marted&igrave;</option>
        <option value="2">Mercoled&igrave;</option>
        <option value="3">Gioved&igrave;</option>
        <option value="4">Venerd&igrave;</option>
      </select>
    </div>
  </div>
  <div class="form-row mt-3 mb-3">
    <div class="form-check form-check-inline">
      <input type="radio"
        name="office"
        id="office-A"
        class="form-check-input"
        value="ufficio_A">
      <label for="office" class="form-check-label">Ufficio A</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio"
        name="office"
        id="office-B"
        class="form-check-input"
        value="ufficio_B">
      <label for="office" class="form-check-label">Ufficio B</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="radio"
        name="office"
        id="office-C"
        class="form-check-input"
        value="ufficio_C">
      <label for="office" class="form-check-label">Ufficio C</label>
    </div>
  </div>
  <div class="form-row mt-3 mb-3">
    <div class="form-check form-check-inline">
      <input type="checkbox"
        name="application1"
        id="application-1"
        class="form-check-input"
        value="richiesta_1">
      <label for="application" class="form-check-label">Richiesta 1</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox"
        name="application2"
        id="application-2"
        class="form-check-input"
        value="richiesta_2">
      <label for="application" class="form-check-label">Richiesta 2</label>
    </div>
    <div class="form-check form-check-inline">
      <input type="checkbox"
        name="application3"
        id="application-3"
        class="form-check-input"
        value="richiesta_3">
      <label for="application" class="form-check-label">Richiesta 3</label>
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-primary">Prenota</button>
  </div>
</form>
